{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {"allowNamespaces": true, "runtime": "automatic"}
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"]
  ]
}
