* {
  user-select: none;
  font-family: SFMono-Regular, sans-serif;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}


body {
  background-color: #784824;
}

button {
  border: none;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center-spaced {
  align-items: center;
  justify-content: space-between;
}

.center {
  align-items: center;
}

.spaced {
  justify-content: space-between;
}

.App {
  >.label-wrapper {
    margin: 8px;
  }
}
